<naraka-cloud-web-json-form #jsonForm [fields]="searchFields" class="search-panel"></naraka-cloud-web-json-form>

<ng-template #center>
  <button
    (click)="grid.refreshRowsData()"
    nzSize="small"
    nz-button
    nzType="primary">{{'common.search' |translate}}</button>
</ng-template>
<ng-template #phoneTemplate let-node>
  <ng-container *acl="{resource:getPhoneApi,method:'get'}">
    <i class="see" *ngIf="!node.data.fullPhone" (click)="seePhone(node)"
       nz-icon
       nzType="eye"
       nzTheme="outline"></i>
    <i class="see" *ngIf="node.data.fullPhone==='loading'"

       nz-icon
       nzType="loading"
       nzTheme="outline"></i>
  </ng-container>
  {{node.data.phone}}
  <i class="edit" *acl="{resource:putPhoneApi,method:'put'}" (click)="updatePhone(node)"
     nz-icon
     nzType="edit"
     nzTheme="outline"></i>
</ng-template>
<ng-template #emailTemplate let-node>
  <ng-container *acl="{resource:getEmailApi,method:'get'}">
    <i class="see" *ngIf="!node.data.fullEmail" (click)="seeEmail(node)"
       nz-icon
       nzType="eye"
       nzTheme="outline"></i>
    <i class="see" *ngIf="node.data.fullEmail==='loading'"

       nz-icon
       nzType="loading"
       nzTheme="outline"></i>
  </ng-container>
  {{node.data.email}}
  <i class="edit" *acl="{resource:putEmailApi,method:'put'}" (click)="updateEmail(node)"
     nz-icon
     nzType="edit"
     nzTheme="outline"></i>
</ng-template>

<ng-template #actionTemplate let-node>

  <button nz-button (click)="assignRole(node.data)" nzSize="small">分配角色</button>
  <button nz-button (click)="restPwd(node.data)" nzSize="small">重置密码</button>
</ng-template>
<ng-template #left>
  <button *acl="{resource:createUserApi}" (click)="create()"
          nzSize="small"
          nz-button
          nzType="primary">{{'common.create' |translate}}</button>
</ng-template>

<ngx-grid-table #grid
                [topButton]="{center,left}"
                [getData]="getData"
                (gridReady)="onGridReady($event,jsonForm)"
                [options]="gridOptions">
</ngx-grid-table>
