<nz-layout class="default-layout">
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">

      <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
      <ng-template #menuTpl let-menus>
        <ng-container *ngFor="let menu of menus">
          <li
            *ngIf="!menu.children"
            nz-menu-item
            [routerLink]="menu.url"
            [nzPaddingLeft]="menu.level * 24"
            [nzDisabled]="menu.disabled"
            [nzSelected]="menu.selected"
          >
            <span nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></span>
            <span>{{ menu.title }}</span>
          </li>
          <li
            *ngIf="menu.children"
            nz-submenu
            [nzPaddingLeft]="menu.level * 24"
            [nzOpen]="menu.open"

            [nzTitle]="menu.title"
            [nzIcon]="menu.icon"
            [nzDisabled]="menu.disabled"
          >
            <ul>
              <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
            </ul>
          </li>
        </ng-container>
      </ng-template>
    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <div class="inner-content">

        <router-outlet></router-outlet>
      </div>
    </nz-content>

  </nz-layout>
</nz-layout>

